.app{

  display: flex;
  justify-content: center;
  padding-top: 20%;

}

input{
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
}





button{
  background-color: rgba(255, 0, 119, 0.795);
  border: none;
  border-radius: 5%;
  width: 32%;
  height: 25px;
  color: rgba(255, 255, 255, 0.856);
  cursor: pointer;
  font-family:'Courier New', Courier, monospace;
  box-shadow: 3px 2px 1px rgba(177, 3, 104, 0.747);
  font-size: xx-small;
  letter-spacing: 2px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5%;
}

button:active{
  box-shadow: none;
}

h1{
  color: rgb(255, 0, 179);
  font-family: 'Courier New', Courier, monospace;
}

input{
  width: 100%;
}




